<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;">
	<p class="text-white text-center" >we Talk about Tech</p>
	<p class="display-4 text-white">Android Developer Bandung</p>
	<p class="text-white text-center" >an Indonesian Android Developer Community</p>
	<p class="text-white text-center" >Github: <a href="https://github.com/androiddeveloperbandung">ADB</a></p>
	<p class="lead">
		<a class="btn btn-secondary" href="https://t.me/androidDevBdg" role="button">Join with US</a>   
	</p>
</div>